[submodule "moth_radio/static/lib/jsPsych"]
	path = moth_radio/static/lib/jsPsych
	url = https://github.com/jspsych/jsPsych
[submodule "moth_radio/static/lib/rating_wheel"]
	path = moth_radio/static/lib/rating_wheel
	url = https://github.com/cosanlab/rating_wheel.git
