[Unit]
Description = uWSGI instance to serve moth_app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/moth_app
Environment="PATH=/var/www/moth_env/bin:/usr/bin"
ExecStart=/var/www/moth_env/bin/uwsgi --ini moth_app.ini --manage-script-name --mount /moth=moth_radio:app
[Install]
WantedBy=multi-user.target
